[submodule "include/glew"]
	path = include/glew
	url = git@github.com:nigels-com/glew.git
[submodule "include/glfw"]
	path = include/glfw
	url = git@github.com:glfw/glfw.git
[submodule "include/glm"]
	path = include/glm
	url = git@github.com:g-truc/glm.git
[submodule "include/argh"]
	path = include/argh
	url = git@github.com:adishavit/argh.git
[submodule "include/stb"]
	path = include/stb
	url = git@github.com:nothings/stb.git
